*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
   top: 100px;
   background-color: dodgerblue;
}

main{
   padding: auto 100px;
   background-color: rgb(182, 179, 174);
   height: 60vh;
   padding: 12px 50px;
   display: flex;
   align-items: center;
   border-radius: 15px;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.button-container{
    display: flex;
    gap: 12px;
}

.btn{
    padding: 5px 12px;
    border: 0.5px solid black;
    border-radius: 5px;
    background-color: rgb(51, 51, 243);
    color: white;
    cursor: pointer;
}

.btn:hover{
    background-color: rgb(24, 24, 161);
}

footer{
    position: fixed;
    bottom: 5px;
    color: white;
}



/* Responsiveness */

@media(max-width:450px){
    body{
        position: relative;
        top: 150px;
    }
    
footer{
    position: fixed;
    bottom: 97px;
}

}
