*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: url("bg-img1-pj2.jpg");
     background-size: cover;
     height: 100vh;
}

button{
    position: absolute;
    top: 70%;
    left: 10%;
    height: 80px;
    width: 350px;
    font-size: 1.5rem;
    background: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover{
     color: black;
    border: 2px solid  black;
    background-color: white;
   
}

.model{
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 100px;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    animation: animateModule;
    animation-duration: .4s;
}

.close-btn{
    font-size: 2.5rem;
}

.close-btn:hover{
    color: red;
    cursor: pointer;
    transition: 0.3s;
}

.model-container{
    display: none;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

@keyframes animateModule{
    from{
        top: -300px;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}